<div class="panel panel-default">
    <div class="panel-heading">
        Meine Einstellungen
    </div>

        <ul class="list-group">
            {{#link-to 'settings' (query-params mode="base") class='list-group-item' }}
                Kontaktdaten
            {{/link-to}}
            {{#link-to 'settings' (query-params mode="presets") class='list-group-item' }}
                Voreinstellungen
            {{/link-to}}
            {{#link-to 'settings' (query-params mode="dashboard") class='list-group-item' }}
                Dashboard
            {{/link-to}}
            {{#link-to 'settings' (query-params mode="password") class='list-group-item' }}
                Kennwort ändern
            {{/link-to}}
        </ul>

</div>
