<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div style="height:130px">
        <img src="/assets/images/user-128.png"></div>
        </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
        <table class="table">
            <tr>
                <td>Vorname</td><td>Harry</td>
            </tr>
            <tr>
                <td>Nachname</td><td>Hirsch</td>
            </tr>
            <tr>
                <td>E-Mail</td><td>harry.hirsch@red-web.com</td>
            </tr>

        </table>
    </div>
</div>
<hr>
