{{#each b in breadCrumbs}}
    {{#if b.isCurrent}}
        {{#link-to b.path}}{{b.name}}{{/link-to}}
    {{else}}
        {{#link-to b.path}}{{b.name}}{{/link-to}}
        <i class="fa fa-angle-right fa-fw"></i>
    {{/if}}
{{/each}}

