<span {{action "selectCategory" category}}>
    {{#link-to 'categories.category' category classNames='list-group-item'}}
        {{getIndent}}
        {{#if category.getIsExpanded}}
            <label {{action "toggleExpandCategory" category on="click"}}>{{fa-icon "minus-circle"}}</label>
        {{else}}
            {{#if category.hasSubCategories}}
                <label {{action "toggleExpandCategory" category on="click"}}>{{fa-icon "plus-circle"}}</label>
            {{else}}
                <label>{{fa-icon "circle"}}</label>
            {{/if}}
        {{/if}}
        {{category.display}}
        <button type="submit" class="btn-default pull-right" {{action 'deleteCategory' category}}>{{fa-icon "trash"}}</button>
    {{/link-to}}
</span>
