{{#each category in categories itemController='categories.category'}}
    {{category-listitem category=category}}
    {{#if category.getIsExpanded}}
        {{category-listitem2 categories=category.subElements}}
    {{/if}}
{{/each}}
