
<div style="cursor:pointer" {{bind-attr class=":bs-select :btn-group :btn-block :dropdown disabled:disabled showDropdown:open"}}>
    <button  {{bind-attr class=":col-xs-12 :col-sm-12 :col-md-12 :col-lg-12 :btn :btn-default :dropdown-toggle"}}
        {{bind-attr id=menuButtonId}}
        {{bind-attr disabled=disabled}}
        {{action "showHide"}} aria-expanded="true">

        <i {{bind-attr class=leftIcon}}>&ensp;</i>
        {{selectionSummary}}

        <span class="pull-right">&ensp;
            <i {{bind-attr class=rightIcon}}></i>
        </span></button>

    {{!--
    <button type="button" style="cursor:pointer"
        {{bind-attr class=":col-xs-1 :col-sm-1 :col-md-1 :col-lg-1 :btn :btn-default :dropdown-toggle class"}}
        {{bind-attr id=menuButtonId}}
        {{bind-attr disabled=disabled}}
        {{action "showHide"}} aria-expanded="true">
        <span class="caret"></span>
    </button>

    --}}

    <ul class="dropdown-menu" style="width:20em" role="menu" {{bind-attr aria-labelledby=menuButtonId}}>
        {{#if liveSearch}}
            <li>
                <div style="padding:5px">
                    <i class="fa fa-search"></i>&ensp;
                    {{input type="text" value=searchFilter}}
                </div>
            </li>
        {{/if}}

        {{#each contentList as |item|}}

            {{#if item.label}}
                {{#if item.group}}
                    {{#unless item.first}}<li class="divider" role="presentation"></li>{{/unless}}
                    <li class="dropdown-header" role="presentation">{{item.group}}</li>
                {{/if}}
                <li role="presentation" {{bind-attr class="item.selected:selected"}}>
                    <a role="menuitem" tabindex="-1" {{action "selectItem" item}}>
                        {{item.label}}
                        <span style="float:right" {{bind-attr class="pull-right :fa :fa-check :check-mark item.selected::hidden"}}></span>
                    </a>
                </li>
            {{else}}
                <li class="divider"></li>
            {{/if}}
        {{/each}}
    </ul>
</div>
