/* Go away, damn elastic scrolling in Chrome and Safari. */

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body > .ember-view, body > #qunit {
    height: 100%;
    overflow: auto;
}

/*
Disable dotted line around focussed elements in Firefox.
http://aghoshb.com/articles/css-how-to-remove-firefoxs-dotted-outline-on-buttons-and-anchor-tags.html
*/

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline: 0;
}

/* BODY ----------------------------------------------------------------------------------------- */

body.ember-application {
    background-attachment: fixed;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:
        url('/assets/images/background2.png'),
        radial-gradient(at bottom right, #f0f0f0, #fff 70%);
    padding-top: 89px;
}

/* TYPOGRAPHY ----------------------------------------------------------------------------------- */

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

/* LINKS ---------------------------------------------------------------------------------------- */

a.default {
    color: inherit;
}

/* LISTS ---------------------------------------------------------------------------------------- */

dd {
    padding-left: 15px;
    margin-bottom: 5px;
}

dl {
    margin-bottom: 5px;
    padding-left: 0px;
}

/* LABEL ---------------------------------------------------------------------------------------- */
/* Some tweaks for labels from bootstrap */

.label {
    display: inline-block;
}

/* TABS ----------------------------------------------------------------------------------------- */
/* Some tweaks for tabs from bootstrap */

.tab-pane-padded {
    padding: 10px 15px;
}

/* CATCHWORDS ----------------------------------------------------------------------------------- */

.catchword {
    border-radius: 3px;
    display: inline-block;
    padding: 3px 5px;
    margin-bottom: 3px;
    font-size: 95%;
    color: #31708f;
    background-color: #d9edf7;
    cursor: pointer;
}

.catchword span {
    font-size: 80%;
}

/* FONT AWESOME STUFF --------------------------------------------------------------------------- */

i[data-ember-action] {
    cursor: pointer;
}


/* LOGIN DIALOG --------------------------------------------------------------------------------- */

#logindialog {
    margin-top: 100px;
    width: 450px;
}

#logindialog .modal-content {
    border-radius: 0;
}

#logindialog .modal-header {
    background: #003a60 url('/assets/images/favicon.png') no-repeat scroll 15px center;
    background-size: 32px 32px;
    padding-left: 49px;
    color: #fff;
    font-size: 18px;
}

/* NAVBAR --------------------------------------------------------------------------------------- */

.navbar.navbar-redweb {
    background: #003a60;
    color: #fff;
}

.navbar-redweb .navbar-brand {
    background: transparent url('/assets/images/favicon.png') no-repeat scroll 15px center;
    background-size: 32px 32px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 44px;
    padding-right: 24px;
    color: #fff;
    height: auto;
}

.navbar-redweb .navbar-nav > li > a {
    color: #ddd !important;
    padding: 9px 15px;
}

.navbar-redweb .navbar-brand:hover, .navbar-redweb .navbar-nav > li > a:hover,
.navbar-redweb .navbar-nav > li > a:visited {
    color: #fff;
}

.navbar-redweb .navbar-nav > li > a:hover,
.navbar-redweb .navbar-nav > li.open > a,
.navbar-redweb .navbar-nav > li.open > a:hover,
.navbar-redweb .navbar-nav > li.open > a:focus,
.navbar-redweb .navbar-nav > li.open > a:visited {
    color: #fff;
    background-color: #005993;
}

.navbar-redweb .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: #005993;
}

.navbar-redweb .breadcrumbs {
    margin-bottom: 0px;
    border-radius: 0;
}

.sidebar-footer-icon {
    position: relative;
    bottom: 30px;
    text-align: center;
}

/* SIDEBAR -------------------------------------------------------------------------------------- */

.sidebar {
    position: absolute;
    bottom: 0;
    top: 102px;
    overflow: auto;
}

/* BUTTONS -------------------------------------------------------------------------------------- */

.btn-primary {
    background-color: #003a60 !important;
    border-color: #003a60 !important;
}

.btn-block {
    text-align: left;
}

.btn:active, .btn.active {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn-default:active, .btn-default.active,
.btn-default.active:hover, .btn-default.active:focus, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #ccc;
}

.btn-default:hover,
.btn-default:focus {
    background-color: #f5f5f5;
    border-color: #ccc;
}

/* PANELS --------------------------------------------------------------------------------------- */

.panel {
    margin-bottom: 10px !important;
}

.panel-default {
    border-color: #ccc !important;
}

.panel-heading {
    padding: 7px 15px;
    background-color: #003a60 !important;
    border-color: #003a60 !important;
    color: #fff !important;
}

.panel-footer .nav-tabs {
    border: 0;
}

.panel-footer .nav-tabs > li > a {
    padding: 7px 15px;
    margin-top: -1px;
}

.panel-footer .nav-tabs > li.active > a {
    border-radius: 0;
    border-top-color: transparent;
    border-bottom-width: 0;
}

.panel-footer .nav-tabs > li.active:first-child > a {
    border-radius: 0;
    border-left-width: 0;
    border-bottom-left-radius: 3px;
}

.panel .list-group-item {
    padding: 7px 15px;
}

.panel-body .list-group {
    margin-bottom: -1px;
}

.panel-body .list-group-item {
    border-width: 0 0 1px;
    margin-bottom: 0;
}

.panel h1:first-child, .panel h2:first-child, .panel h3:first-child, .panel h4:first-child,
.panel h5:first-child, .panel h6:first-child {
    margin-top: 0;
}

/* LIST GROUP ITEM ------------------------------------------------------------------------------ */

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #e6e6e6 !important;
    border-color: #ddd !important;
    color: #333 !important;
}

.list-group-item.clickable {
    cursor: pointer;
}

div.list-group-item.clickable:hover,
div.list-group-item.clickable:focus {
    text-decoration: none;
    background-color: #f5f5f5;
}

div.list-group-item.clickable.active:hover,
div.list-group-item.clickable.active:focus {
    color: #fff;
}

.list-group-item .fa {
    line-height: inherit;
}

/* CONTENT RESULT ITEM -------------------------------------------------------------------------- */

.content-list-item, .content-tile, .content-compact-list-item {
    padding: 10px 15px;
    margin-bottom: -1px;
    margin-right: -1px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.content-compact-list-item {
    padding: 5px 10px;
}

.content-list-item:hover, .content-tile:hover, .content-compact-list-item:hover,
.content-list-item:focus, .content-tile:focus, .content-compact-list-item:focus {
    cursor: pointer;
    background-color: #f5f5f5;
}

.content-list-item .inner, .content-compact-list-item .inner {
    overflow: hidden;
}

.content-list-item .thumbnail, .content-compact-list-item .thumbnail, .content-tile .thumbnail {
    padding: 0;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 140px;
    height: 140px;
    overflow: hidden;
    line-height: 138px;
    font-size: 70px;
    text-align: center;
}

.content-tile .thumbnail, .content-tile .thumbnail .marker {
    width: 100%;
    height: 168px;
    font-size: 84px;
    line-height: 168px;
}

.content-compact-list-item .thumbnail, .content-compact-list-item .thumbnail .marker {
    width: 64px;
    height: 64px;
    line-height: 64px;
    font-size: 32px;
    background-size: cover;
}

.content-list-item .thumbnail .marker, .content-tile .thumbnail .marker, .content-compact-list-item .thumbnail .marker {
    display: none;
    background-color: #ddd;
    opacity: 0.75;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content-list-item.selectable .thumbnail:hover .marker,
.content-list-item.isselected .thumbnail .marker,
.content-tile.selectable .thumbnail:hover .marker,
.content-tile.isselected .thumbnail .marker {
    display: block;
}

.content-list-item.isselected,
.content-list-item.isselected .thumbnail .marker,
.content-tile.isselected,
.content-tile.isselected .thumbnail .marker
.content-tile.isselected,
.content-tile.isselected .thumbnail .marker {
    background-color: #fcf8e3;
}

.content-list-item h4, .content-compact-list-item h4, .content-tile h4 {
    margin-top: 0;
    word-wrap: break-word;
}

.content-compact-list-item h4, .content-tile h4 {
    font-size: 14px;
}

.content-compact-list-item .description, .content-tile .description {
    font-size: 95%;
}

.infoline {
    margin-bottom: 10px;
    font-size: 95%;
}

.infoline-item {
    color: #999;
    display: inline-block;
    white-space: nowrap;
    margin-right: 15px;
    text-decoration: none;
}

.infoline-item:hover {
    color: #428bca;
    text-decoration: none;
}

.content-tile .infoline-item {
    overflow: hidden;
    text-overflow: ellipsis;
}

.actionline {
    margin-top: 10px;
}

.actionline-item {
    color: #999;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
}

.actionline-item:hover {
    color: #428bca;
}

.description {
    word-wrap: break-word;
}

.content-tile {
    width: 200px;
    float: left;
}

/* NOTIFICATION PANELS -------------------------------------------------------------------------- */

.notification-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    text-align: center;
}

.notification-panel .inner {
    display: inline-block;
    padding: 5px 15px;
}

/* COLLAPSABLE PANELS --------------------------------------------------------------------------- */

.collapsable-panel .inner {
    padding: 5px 0 0 18px;
}

/* FORMS ---------------------------------------------------------------------------------------- */

dd.radio, dd.checkbox {
    margin: 3px;
}

.avatar {
    width: 20px;
    height: 20px;
    float: left;
}

.navbar-avatar {
    white-space: nowrap;
    padding-right: 25px !important;
}

.breadcrumbs {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #428BCA;;
    background-color: #F5F5F5;
}

ul.breadcrumbs {
    margin-left: -20px;
}

ul.breadcrumbs li {
    list-style: none;
    display: inline;

}

ul.breadcrumbs li a {
    color: #428BCA;
}



/* Für die durchsuchbare Dropdown-Komponente */

li.dropdown-search {
    padding: 5px 5px 10px 15px;
}

input.dropdown-search {
    width:85%;
}
