<panel class="panel">
    <div class="panel-heading">
        <h4>{{display}}</h4>
    </div>
    <div class="panel-body">
        <table class="table">
            <colgroup>
                <col width="30%">
                <col width="*">
                <col width="10%">
            </colgroup>
            {{#if displayTableHeader}}
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Wert</th>
                        <th></th>
                    </tr>
                </thead>
            {{/if}}
            <tbody>
                {{#each property in properties itemController='property'}}
                    <tr>
                        {{!--<td>{{input type="checkbox" name="selection" checked=property.selected disabled=property.isEditing}}</td>--}}
                        <td><label>{{property.name}}</label></td>
                        {{!--<td>{{input type="text" class="edit" value=m.value focus-out="" insert-newline="" readonly=true}}</tc> --}}
                        <td>
                            {{#if property.isEditing}}
                                {{focus-input class=form-control type="text" value=property.value action='endEditProperty' focus-out="endEditProperty" double-Click="endEditProperty" width=100}}
                            {{else}}
                                <label {{action "editProperty" property on="doubleClick"}}>{{property.value}}</label>
                            {{/if}}
                        </td>
                        <td>
                    <span class="rating pull-right">
                      {{#if property.isEditing}}
                          <button type="button" {{ action "endEditProperty"}} class="btn btn-default">{{ fa-icon "floppy-o"}}</button>
                      {{else}}
                          <button type="button" {{ action "editProperty"}} class="btn btn-default">{{ fa-icon "pencil"}}</button>
                      {{/if}}
                        <button type="submit" class="btn btn-default pull-right" {{ action 'deleteOneProperty' property}}>{{ fa-icon "trash"}}</button>
                    </span>
                        </td>
                    </tr>
                {{/each}}
                {{#if isAdding}}
                    <tr>
                        <td>{{focus-input class="form-control" type="text" placeholder="Neuen Namen angeben" value=newName}}</td>
                        <td>{{input class="form-control" type="text" placeholder="Neuen Wert angeben" value=newValue insert-newline="createProperty"}}</td>
                        <td><button class="btn btn-default pull-right" {{ action 'createProperty'}}>{{ fa-icon "floppy-o"}}</button></td>
                    </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <button type="submit" class="btn" {{ action 'addProperty' }}>Neu</button>
        {{!-- this ist for handling with the checkbox
       <button type="submit" class="btn" {{ action 'deleteProperties' }} {{ bind-attr disabled=hasNoSelectedProperties}} >
           Löschen
       </button>
       --}}
    </div>
</panel>




