<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Administrations
        </h1>
        <p class="lead">Diese Demoseite zeigt die die eingerichteten Customizing Daten an.</p>
        <h3>Publikationen</h3>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Kurzname</th>
                <th>Aktiv?</th>
                <th>Default?</th>
                <th>Farbe</th>
            </tr>
            </thead>
            <tbody>
            {{#each m in model.publications}}
                <tr>
                    <td>{{m.id}}</td>
                    <td>{{m.name}}</td>
                    <td>{{m.shortname}}</td>
                    <td>
                        {{#if m.active}}
                            <i class="fa fa-check-circle text-success"></i>
                        {{/if}}
                    </td>
                    <td>
                        {{#if m.isdefault}}
                            <i class="fa fa-check-circle text-success"></i>
                        {{/if}}
                    </td>
                    <td>
                        <span class="badge">#{{ m.color }}</span>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <h3>Ressorts</h3>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Kurzname</th>
                <th>Eltern-Ressort</th>
                <th>Publikationen</th>
                <th>Aktiv?</th>
                <th>Default?</th>
                <th>Farbe</th>
            </tr>
            </thead>
            <tbody>
            {{#each m in model.departments}}
                <tr>
                    <td>{{m.id}}</td>
                    <td>{{m.name}}</td>
                    <td>{{m.shortname}}</td>
                    <td>{{m.parentid.name}}</td>
                    <td>
                        {{#each publication in m.publications}}
                            {{ publication.name }}<br>
                        {{/each}}
                    </td>
                    <td>
                        {{#if m.active}}
                            <i class="fa fa-check-circle text-success"></i>
                        {{/if}}
                    </td>
                    <td>
                        {{#if m.isdefault}}
                            <i class="fa fa-check-circle text-success"></i>
                        {{/if}}
                    </td>
                    <td>
                        <span class="badge">#{{ m.color }}</span>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <h3>Prioritäten</h3>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Kurzname</th>
                <th>Publikationen</th>
                <th>Aktiv?</th>
                <th>Default?</th>
                <th>Farbe</th>
            </tr>
            </thead>
            <tbody>
            {{#each m in model.priorities}}
                <tr>
                    <td>{{m.id}}</td>
                    <td>{{m.name}}</td>
                    <td>{{m.shortname}}</td>
                    <td>
                        {{#if m.active}}
                            <i class="fa fa-check-circle text-success"></i>
                        {{/if}}
                    </td>
                    <td>
                        {{#if m.isdefault}}
                            <i class="fa fa-check-circle text-success"></i>
                        {{/if}}
                    </td>
                    <td>
                        <span class="badge">#{{ m.color }}</span>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <h3>Ausgaben</h3>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Kurzname</th>
                <th>Publikationen</th>
                <th>Aktiv?</th>
                <th>Default?</th>
                <th>Farbe</th>
            </tr>
            </thead>
            <tbody>
            {{#each m in model.editions}}
                <tr>
                    <td>{{m.id}}</td>
                    <td>{{m.name}}</td>
                    <td>{{m.shortname}}</td>
                    <td>
                        {{#if m.active}}
                            <i class="fa fa-check-circle text-success"></i>
                        {{/if}}
                    </td>
                    <td>
                        {{#if m.isdefault}}
                            <i class="fa fa-check-circle text-success"></i>
                        {{/if}}
                    </td>
                    <td>
                        <span class="badge">#{{ m.color }}</span>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <h3>Statuskategorien</h3>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Kurzname</th>
                <th>Aktiv?</th>
                <th>Default?</th>
                <th>Farbe</th>
            </tr>
            </thead>
            <tbody>
            {{#each m in model.statecategories}}
                <tr>
                    <td>{{m.id}}</td>
                    <td>{{m.name}}</td>
                    <td>{{m.shortname}}</td>
                    <td>
                        {{#if m.active}}
                            <i class="fa fa-check-circle text-success"></i>
                        {{/if}}
                    </td>
                    <td>
                        {{#if m.isdefault}}
                            <i class="fa fa-check-circle text-success"></i>
                        {{/if}}
                    </td>
                    <td>
                        <span class="badge">#{{ m.color }}</span>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

        <h3>Status</h3>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Kurzname</th>
                <th>Statuskategorie</th>
                <th>Aktiv?</th>
                <th>Default?</th>
                <th>Farbe</th>
            </tr>
            </thead>
            <tbody>
            {{#each m in model.states}}
                <tr>
                    <td>{{m.id}}</td>
                    <td>{{m.name}}</td>
                    <td>{{m.shortname}}</td>
                    <td>{{m.category.name}}</td>
                    <td>
                        {{#if m.active}}
                            <i class="fa fa-check-circle text-success"></i>
                        {{/if}}
                    </td>
                    <td>
                        {{#if m.isdefault}}
                            <i class="fa fa-check-circle text-success"></i>
                        {{/if}}
                    </td>
                    <td>
                        <span class="badge">#{{ m.color }}</span>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>


        <h3>Kategories</h3>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Elternkategorie</th>
            </tr>
            </thead>
            <tbody>
            {{#each m in model.categories}}
                <tr>
                    <td>{{m.id}}</td>
                    <td>{{m.name}}</td>
                    <td>{{m.parentid.name}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>


    </div>
</div>

