<div class=''>
    <div class='col-sm-3 sidebar'>
        <div>
            <button type="submit" class="btn" {{action 'deleteAll'}} >Alle Kategorien löschen</button>
            <button type="submit" class="btn" {{action 'readXML'}} >XML einlesen</button>
            <button type="submit" class="btn" {{action 'downloadXML'}} >XML herunterladen</button>
            <button type="submit" class="btn" {{action 'writeXML'}} >XML zurückschreiben</button>
        </div>
        <div class="panel-heading">
            Kategorien
        </div>

        <div class="list-group">
            {{getExpandedCount}}
            {{category-listitem2 categories=getCategories}}
        </div>

        <div class="panel-footer">
            <span>
                <div>
                    {{input class=form-control type="text" id="new-category" placeholder="Neue Kategorie erzeugen" value=newCategoryName action="createCategory"}}
                    &nbsp;&nbsp;&nbsp;
                    {{input type="checkbox" name="maincategory" checked=createMainCategoryChecked disabled=isNotEditingNewCategory insert-newline="createCategory"}}
                    Hauptkategorie
                    <button type="button" {{action "createCategory"}} class="btn-default pull-right" {{bind-attr disabled=isNotEditingNewCategory}}>{{fa-icon "floppy-o"}}</button>
                </div>
          <div>
              <button type="submit" class="btn" {{action 'deleteSelectedCategory'}} {{bind-attr disabled=hasNoSelectedCategory}}><i class="fa fa-trash"></i> Kategorie löschen</button>
          </div>
        </span>
        </div>
    </div>
    <div class='col-sm-9 col-sm-offset-3'>
        {{outlet}}
    </div>
</div>
