<div class=''>
    <div class='col-sm-3 sidebar'>
        <div>
            <button type="submit" class="btn" {{action 'deleteAll'}}>Alles löschen</button>
            <button type="submit" class="btn" {{action 'readXML'}}>XML einlesen</button>
        </div>
        <div class="panel-heading">
            Kategorien
        </div>
        <div class="list-group">
            {{log 'hbs aufgerufen'}}
            {{#each category in controller itemController='categories.category'}}
                <span {{action "selectCategory" category}}>
                    {{#link-to 'categories.category' category classNames='list-group-item'}}
                        {{#if category.getIsExpanded}}
                            <label {{action "toggleExpandCategory" category on="click"}}>{{fa-icon "minus-circle"}}</label>
                        {{else}}
                            {{#if category.hasSubCategories}}
                                <label {{action "toggleExpandCategory" category on="click"}}>{{fa-icon "plus-circle"}}</label>
                            {{else}}
                                <label>{{fa-icon "circle"}}</label>
                            {{/if}}
                        {{/if}}
                        {{category.display}}
                        <button type="submit" class="btn-default pull-right" {{ action 'deleteCategory' category}}>{{fa-icon "trash"}}</button>
                    {{/link-to}}
                </span>
                {{#if category.getIsExpanded}}
                    {{#each subCategory in category.subElements itemController='categories.category'}}
                        <span {{action "selectCategory" subCategory}}>
                            {{#link-to 'categories.category' subCategory classNames='list-group-item small'}}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                {{#if subCategory.getIsExpanded}}
                                    <label {{action "toggleExpandCategory" subCategory on="click"}}>{{fa-icon "minus-circle"}}</label>
                                {{else}}
                                    {{#if subCategory.hasSubCategories}}
                                        <label {{action "toggleExpandCategory" subCategory on="click"}}>{{fa-icon "plus-circle"}}</label>
                                    {{else}}
                                        <label>{{fa-icon "circle"}}</label>
                                    {{/if}}
                                {{/if}}
                                {{subCategory.display}}
                                <button type="submit" class="btn-default pull-right" {{ action 'deleteCategory' subCategory}}>{{fa-icon "trash"}}</button>
                            {{/link-to}}
                        </span>
                        {{#if subCategory.getIsExpanded}}
                            {{#each subSubCategory in subCategory.subElements itemController='categories.category'}}
                                <span {{action "selectCategory" subSubCategory}}>
                                    {{#link-to 'categories.category' subSubCategory classNames='list-group-item small'}}
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{#if subSubCategory.getIsExpanded}}
                                            <label {{action "toggleExpandCategory" subSubCategory on="click"}}>{{fa-icon "minus-circle"}}</label>
                                        {{else}}
                                            {{#if subSubCategory.hasSubCategories}}
                                                <label {{action "toggleExpandCategory" subSubCategory on="click"}}>{{fa-icon "plus-circle"}}</label>
                                            {{else}}
                                                <label>{{fa-icon "circle"}}</label>
                                            {{/if}}
                                        {{/if}}
                                        {{subSubCategory.display}}
                                        <button type="submit" class="btn-default pull-right" {{ action 'deleteCategory' subSubCategory}}>{{fa-icon "trash"}}</button><
                                    {{/link-to}}
                                </span>
                                {{#if subSubCategory.getIsExpanded}}
                                    {{#each subSubSubCategory in subSubCategory.subElements itemController='categories.category'}}
                                        <span {{action "selectCategory" subSubSubCategory}}>
                                            {{#link-to 'categories.category' subSubSubCategory classNames='list-group-item small'}}
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                {{#if subSubSubCategory.getIsExpanded}}
                                                    <label {{action "toggleExpandCategory" subSubSubCategory on="click"}}>{{fa-icon "minus-circle"}}</label>
                                                {{else}}
                                                    {{#if subSubSubCategory.hasSubCategories}}
                                                        <label {{action "toggleExpandCategory" subSubSubCategory on="click"}}>{{fa-icon "plus-circle"}}</label>
                                                    {{else}}
                                                        <label>{{fa-icon "circle"}}</label>
                                                    {{/if}}
                                                {{/if}}
                                                {{subSubSubCategory.display}}
                                                <button type="submit" class="btn-default pull-right" {{ action 'deleteCategory' subSubSubCategory}}>{{fa-icon "trash"}}</button>
                                            {{/link-to}}
                                        </span>
                                        {{#if subSubSubCategory.getIsExpanded}}
                                            {{#each subSubSubSubCategory in subSubSubCategory.subElements itemController='categories.category'}}
                                                <span {{action "selectCategory" subSubSubSubCategory}}>
                                                    {{#link-to 'categories.category' subSubSubSubCategory classNames='list-group-item small'}}
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        {{#if subSubSubSubCategory.getIsExpanded}}
                                                            <label {{action "toggleExpandCategory" subSubSubSubCategory on="click"}}>{{fa-icon "minus-circle"}}</label>
                                                        {{else}}
                                                            {{#if subSubSubSubCategory.hasSubCategories}}
                                                                <label {{action "toggleExpandCategory" subSubSubSubCategory on="click"}}>{{fa-icon "plus-circle"}}</label>
                                                            {{else}}
                                                                <label>{{fa-icon "circle"}}</label>
                                                            {{/if}}
                                                        {{/if}}
                                                        {{subSubSubSubCategory.display}}
                                                        <button type="submit" class="btn-default pull-right" {{ action 'deleteCategory' subSubSubSubCategory}}>{{fa-icon "trash"}}</button>
                                                    {{/link-to}}
                                                </span>
                                            {{/each}}
                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    {{/each}}
                {{/if}}
            {{/each}}
        </div>
        <div class="panel-footer">
            <span>
                <div>
                    {{input class=form-control type="text" id="new-category" placeholder="Neue Kategorie erzeugen" value=newCategoryName action="createCategory" focus-in="editNewCategory"}}
                    <button type="button" {{action "createCategory"}} class="btn-default pull-right" {{bind-attr disabled=isNotEditingNewCategory}}>{{fa-icon "floppy-o"}}</button>
                </div>
          <div>
              <button type="submit" class="btn" {{action 'deleteSelectedCategory'}} {{bind-attr disabled=hasNoSelectedCategory}}><i class="fa fa-trash"></i> Kategorie löschen</button>
          </div>
        </span>
        </div>
    </div>
    <div class='col-sm-9 col-sm-offset-3'>
        {{outlet}}
    </div>
</div>
