<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>Hallo red.web</h1>
            <p>Dieses Projekt ist als Basis für die Anwendung zukünftiger Webapps unter
                Verwendung von ember.js gedacht. Geboten werden u.a.:</p>
            <ul>
                <li>Authentifizierung das red.web-Authentifizierung (aka Benutzerverwaltung).</li>
                <li>Session-Handling gegenüber der red.web-Datenbank.</li>
                <li>Zugriff auf die Webservices von red.web-PrintPublisher.</li>
                <li>Modellklassen für die bekannten Customizing-Daten.</li>
                <li>Anzeige von Customizingdaten.</li>
                <li>Einige {{#link-to "showcomponents"}}Standardkomponenten.{{/link-to}}</li>
            </ul>
        </div>
    </div>
</div>
