<div id="logindialog" class="modal-dialog">
    <div class="modal-content">
        <form {{ action 'login' on="submit" }}>
            <div class="modal-header">
                red.web - Startup
            </div>
            <div class="modal-body">
                {{#if errorMessage}}
                    <div class="alert alert-danger" role="alert">
                        {{ errorMessage }}
                    </div>
                {{/if}}
                <div class="form-group">
                    <label>Benutzername</label>
                    {{ focus-input name="username" value=username }}
                </div>
                <div class="form-group">
                    <label>Passwort</label>
                    {{ input name="password" value=password type="password" class="form-control" }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    Anmelden
                </button>
            </div>
        </form>
    </div>
</div>
