<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-3 sidebar">
        {{partial 'settings/-settings-sidebar'}}
    </div>
    <div class="col-sm-offset-4 col-sm-7 col-md-offset-4 col-md-7 col-lg-offset-3 col-lg-8">
        {{partial 'settings/-settings-content'}}
    </div>
</div>
