<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Standardkomponenten und Bibliotheken</h1>
        <h3>Font Awesome</h3>
        <p>
            Font Awesome ist über das Ember CLI Addon
            <a href="https://github.com/lfridael/ember-cli-font-awesome">Ember CLI Font Awesome</a>
            eingebunden, so dass auch die hilfreichen Erweiterungen für die Templates zur Verfügung
            stehen.
        </p>
        <h3>Datepicker</h3>
        <p>
            Als Datepicker ist der <a href="http://sul.im/ember-cli-bootstrap-datepicker/">
            Ember CLI Bootstrap Datepicker</a> eingebuden. Dokumentation und Beispiele findet man auf
            der Homepage dieses Tools.
        </p>
        <h3>Focus Input</h3>
        <p>Focus Input ist ein Eingabefeld, dass direkt den Fokus greift, wenn es gezeichnet wird.</p>
        {{ focus-input }}

        <h3>Dropdown mit Suchfeld (optional mit Mehrfachselektion)</h3>
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                {{rw-select
                prompt="Zeitraum wählen"
                content=periods
                selection=period
                multiple=false
                liveSearch='false'
                optionLabelPath="content.text"
                optionValuePath="content.id"
                searchPlaceholder="Zeitraum durchsuchen"
                }}
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                {{rw-select
                prompt="Quellsystem wählen"
                content=sources
                selection=source
                multiple='true'
                liveSearch='true'
                optionLabelPath="content.text"
                optionValuePath="content.id"
                searchPlaceholder="Quellesysteme durchsuchen"
                }}
            </div>
        </div>

        <h3>Radiobuttons</h3>
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                Gruppe mit Radiobuttons
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                {{#each color in colors}}
                    {{rw-radio name="rb_radio" value=color.id}}
                    {{color.name}}
                {{/each}}
            </div>
        </div>


    </div>
</div>
